/* 画面全体を黒背景にして中央配置 */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

/* Canvasを白い枠で囲む */
canvas {
  border: 2px solid white;
}
